*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.gallery-cont{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    position: fixed;
}
.back-btn{
    height: 4rem;
    width: 4rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 5px solid orange;
    border-style:double;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.back-btn:hover{
    cursor: pointer;
}
.media-cont{
    height: 15rem;
    width: 15rem;
    border: 10px solid white;
    margin: 2rem;
}

.media > *{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.action-btn{
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download{
    background-color: black;
}
.delete{
    background-color: red;
}

